body {
  font-family: Verdana, sans-serif;
  font-size: 0.7rem;
}
input, select {
  font-family: "Lucida Console", monospace;
  font-size: 0.69rem;
}
p {
  margin: 0.125rem 0;
}
.contd {
  margin-left: 2.75rem;
}
#primer .contd {
  margin-left: 0;
}
.line-btn {
  margin-right: 0.5rem;
}
.num {
  width: 2rem;
}
.out {
  position: absolute;
  left:-999rem;
	margin-top:-999rem;
}
.row {
  border-top: 0.125rem solid #dadada;
  margin-left: 0.5rem;
  margin-top: 0.125rem;
  padding: 0.25rem;
}
.sep {
  margin-top: 1rem;
}
.stored-item {
  border: 0.0625rem inset #dadada;
  display: inline-block;
  margin: 0.125rem;
  padding: 0.125rem;
  line-height: 1.125rem;
}
.stored-c .stored-item {
  background-color: #B4B3F3;
}
.stored-s .stored-item {
  background-color: #F3E5B3;
}
.stored-name {
  margin: 0 0.125rem;
}
.tech {
  border: 0.0625rem dashed #3f3f3f;
  background-color: #d5d5d5;
  font-family: "Lucida Console", monospace;
  font-size: 0.69rem;
  max-width: 12rem;
  padding: 0.25rem;
}
#primer {
  display: inline-block;
}
/* en dernier pour "gagner" */
.row.marked {
  background-color: #C1FFC1;
  border-left: 0.375rem solid #008000;
  border-top-color: #008000;
  margin-left: 0.125rem;
  padding-left: 0.25rem;
}
